
<div *ngIf="invoice">
    <h2><span jhiTranslate="storeApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.invoice.date">Date</span></dt>
        <dd>
            <span>{{invoice.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.details">Details</span></dt>
        <dd>
            <span>{{invoice.details}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'storeApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentMethod">Payment Method</span></dt>
        <dd>
            <span jhiTranslate="{{'storeApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentDate">Payment Date</span></dt>
        <dd>
            <span>{{invoice.paymentDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentAmount">Payment Amount</span></dt>
        <dd>
            <span>{{invoice.paymentAmount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
